/*! Font */
@font-face {
    font-family: RobotoNormal;
    src: url(../fonts/roboto.woff);
    src: url(../fonts/roboto.woff2);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: RobotoBold;
    src: url(../fonts/robotobold.woff);
    src: url(../fonts/robotobold.woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: RobotoMedium;
    src: url(../fonts/robotomedium.woff);
    src: url(../fonts/robotomedium.woff2);
    font-weight: medium;
    font-style: normal;
}
.sort-btn-wrapper {
    display: flex;
    padding: 10px 0;
}
.sort-btn-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #231F20;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}
.sort-btn-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #A6A6A6;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}
/*!Root*/
:root {
/*!Background-color*/
    --main-bg-color:#ffffff;
    --header-bg-color:#eeeeee;
    --icon-bg-color:#e1e1e1;

/*!Button-color*/
    --btn-red:#FB565A;
    --btn-green:#00CA74;
    --btn-yellow:#EFC849; 

/*!Text-color*/
    --txt-black:#000000;
    --txt-darkgray:#283136;
    --txt-white:#ffffff;

/*!Font-size*/
    --font-size14:14px;
    --font-size16:16px;
    --font-size18:18px;
    --font-size24:24px;
    --font-size30:30px;
    --font-size36:36px;
    --font-size45:45px;
    --font-size55:55px;
}


