/*! Font */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  local("Roboto"),
  url(/fonts/roboto.woff2) format(woff2),
  url(/fonts/roboto.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  local("Roboto"),
  url(/fonts/robotomedium.woff2) format(woff2),
  url(/fonts/robotomedium.woff) format(woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
  local("Roboto"),
  url(/fonts/robotobold.woff2) format(woff2),
  url(/fonts/robotobold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
}

/*!Root*/
:root {
  /*!Background-color*/
  --main-bg-color: #ffffff;
  --header-bg-color: #eeeeee;
  --icon-bg-color: #e1e1e1;
  --border-color: #D7DCDE;
  --border-color-label:#4d4d4d;
  --border-color-hover: #B4B9BB;
  --border-color-focus: #000;
  --border-color-incorrect: #E74246;


  /*!Button-color*/
  --button-red: #FB565A;
  --button-red--hover:#E74246;
  --button-red--active:#D7373B;

  --button-green: #00CA74;
  --button-green--hover:#00BC6C;
  --button-green--active:#00AA62;

  --button-yellow: #EFC849;
  --button-yellow--hover:#EAB534;
  --button-yellow--active:#E5A722;

  --button-gray:#EEEEEE;
  --button-gray--hover:#DFDFDF;
  --button-gray--active:#D5D5D5;

  /*!Text-color*/
  --txt-black: #000000;
  --txt-darkgray: #283136;
  --txt-gray: #444444;
  --txt-map-gray:#666666;
  --txt-white: #ffffff;

  /*!Font-size*/
  --general-font-size: 16px;
}

/*! Button */
.button {
  font-size: var(--general-font-size);
  line-height: 18px;
  border-radius: 3px;
  border: 0;
  text-transform: uppercase;
  color: var(--txt-white);
  padding: 17px 40px;
  display: inline-block;
  text-decoration: none;
}

.button--red {
  background-color: var(--button-red);
}
.button--red:hover,
.button--red:focus {
  background-color: var(--button-red--hover);
  transition: background, .3s ease;
}
.button--red:active {
  background-color: var(--button-red--active);
  transition: background, .3s ease;
}

.button--yellow {
  background-color: var(--button-yellow);
}
.button--yellow:hover,
.button--yellow:focus {
  background-color: var(--button-yellow--hover);
  transition: background .3s ease;
}
.button--yellow:active {
  background-color: var(--button-yellow--active);
  transition: background .3s ease;
}

.button--green {
  background-color: var(--button-green);
}
.button--green:hover,
.button--green:focus {
  background-color: var(--button-green--hover);
  transition: background .3s ease;
}
.button--green:active {
  background-color: var(--button-green--active);
  transition: background .3s ease;
}

.button--gray {
  background-color: var(--button-gray);
  color: var(--txt-black);
}
.button--gray:hover,
.button--gray:focus {
  background: var(--button-gray--hover);
  transition: background .2s ease;
}
.button--gray:active {
  background: var(--button-gray--active);
  transition: background .2s ease;
}
.sort-button-wrapper {
  display: flex;
  padding: 10px 0;
}

.sort-button-down {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #231F20;
}

.sort-button-up {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #A6A6A6;
}


.page {
  color: var(--txt-black);
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--main-bg-color);
}

/*!body*/
.page-body {
  padding: 0;
  margin: 0;
  font-size: var(--general-font-size);
}

/*!Шапка*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  min-height: 345px;
  background-color: var(--header-bg-color);
}

.nav-item a,
.basket-link {
  color: var(--txt-black);
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-item a:hover,
.basket-link:hover,
.nav-item a:focus,
.basket-link:focus {
  color: var(--button-red);
  transition: color .3s ease;
}
.nav-item a:active,
.basket-link:active {
  color: var(--txt-black);
  opacity: .3;
  transition: opacity .3s ease;
}
.nav-item--active a:hover,
.nav-item--active a:focus,
.nav-item--active a:active {
  color: var(--txt-black);
  opacity: 1;
}
.basket-link {
  width: 72px;
  position: relative;
  padding-left: 25px;
}
.basket-link::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 7px;
  left: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.slider-title {
  width: 540px;
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 55px;
  font-weight: 500;
}

.slider-txt-wrapper {
  width: 400px;
}

.slider-txt {
  margin: 0;
  margin-bottom: 40px;
  color: var(--txt-darkgray);
  line-height: 24px;
  font-weight: 400;
}
.button-more {
  width: 240px;
}
/*!Service (Услуги)*/
.service-wrapper {
  margin-bottom: 80px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 100px;
}

.service-title {
  text-transform: uppercase;
  width: 180px;
  margin: 0 0 15px 0;
  padding: 25px 0 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.service-txt {
  line-height: 24px;
  width: 260px;
  margin: 0 0 30px 0;
}

/*!About us (О нас)*/
.about-us-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 45px;
  padding-top: 70px;
  justify-content: space-between;
  border-bottom: 2px solid var(--header-bg-color);
}
.about-us-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0 0 30px 0;
}

.about-us-txt-wrapper {
  width: 650px;
}

.about-us-txt {
  width: 645px;
  font-weight: 400;
  line-height: 24px;
  color: var(--txt-darkgray);
  margin: 0 0 40px 0;
}

.about-us-subtitle {
  font-size: var(--general-font-size);
  color: var(--txt-darkgray);
  width: 305px;
  line-height: 24px;
  margin: 0 0 25px 0;
}

.about-us-list {
  padding: 0 0 0 30px;
}

.about-us-item {
  color: var(--txt-darkgray);
  line-height: 24px;
  margin: 0 0 30px 0;
  width: 400px;
  position: relative;
}

.about-us-item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: var(--button-red);
}

.about-us-item:last-child {
  margin: 0 0 70px 0;
}

.about-us-stat {
  width: 385px;
}

.about-us-img {
  margin: 0 0 35px 0;
}

.about-us-signin-txt {
  text-align: center;
  display: inline-block;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 30px 0;
  width: 360px;
}

.about-us-signin-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
  row-gap: 10px;
  column-gap: 20px;
}

.about-us-signin-list dt {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
}

.about-us-signin-list dd {
  color: var(--txt-darkgray);
  font-size: inherit;
  line-height: 18px;
  width: 125px;
  padding: 0;
  margin: 0;
  grid-row: 2;
}

/*!Client (Клиенты)*/
.client-wrapper {
  padding: 45px 0;
  margin-bottom: 80px;
  border-bottom: 2px solid var(--header-bg-color);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-item {
  position: relative;
}
.client-item::after {
  position: absolute;
  content: "";
  top: 10px;
  right: -48px;
  width: 2px;
  height: 52px;
  background-color: var(--header-bg-color);
}
.client-item:last-child::after {
  height: 0px;
}
.client-item a {
  opacity: .2;
}

.client-item a:focus,
.client-item a:hover {
  opacity: 1;
  transition: opacity .2s ease;
}
.client-item a:active {
  opacity: .1;
  transition: opacity .2s ease;
}
/*!Map (Карта)*/
.map-wrapper {
  position: relative;
}
.map-address {
  box-sizing: border-box;
  width: 320px;
  height: 310px;
  padding-top:50px;
  padding-left: 50px;
  padding-right: 50px;
  background: var(--main-bg-color);
  position: absolute;
  z-index: 10;
  bottom: 50px;
  left: 140px;
}
.address-title {
  margin: 0;
  margin-bottom: 22px;
}
.address-txt {
  color: var(--txt-map-gray);
  width: 200px;
  margin: 0;
  margin-bottom: 22px;
}
.map-address a {
  color: var(--txt-map-gray);
  text-decoration: none;
}
.address-button {
  margin: 0;
  margin-top: 37px;
}
.map-marker-img {
  position: absolute;
  top: 70px;
  right: 362px;
}
/*!write popup (Напишите нам)*/
.popup {
  display: none;
}
.write-wrapper-popup {
  position: relative;
  width: 960px;
}
.write-popup {
  position: absolute;
  background-color: var(--main-bg-color);
  bottom: 0px;
  left: 25%;
  z-index: 20;
}
.button-close-popup {
  position: relative;
}
.button-close-popup:hover::after,
.button-close-popup:hover::before {
  background-color: #FB565A;
  opacity: 1;
  transition: opacity .2s ease;
}
.button-close-popup:active::after,
.button-close-popup:active::before {
  opacity: .1;
  transition: opacity .2s ease;
}
.button-close-popup::after {
  position: absolute;
  content: "";
  transform: rotate(-45deg);
  top: 100px;
  right: 100px;
  width: 21px;
  height: 2px;
  background-color: #FB565A;
  opacity: .3;
}
.button-close-popup::before {
  position: absolute;
  content: "";
  transform: rotate(45deg);
  top: 100px;
  right: 100px;
  width: 21px;
  height: 2px;
  background-color: #FB565A;
  opacity: .3;
}

.write-wrapper-popup form {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  width: 760px;
  padding: 65px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.write-wrapper-popup label {
  line-height: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.write-wrapper-popup input,
.write-wrapper-popup textarea {
  margin-top: 10px;
  padding: 15px;
  border: 2px solid var(--border-color);
  resize: none;
  border-radius: 3px;
}
.write-wrapper-popup input:hover,
.write-wrapper-popup textarea:hover {
  border-color: var(--border-color-hover);
  transition: border-color .2s ease;
}
.write-wrapper-popup input:focus,
.write-wrapper-popup textarea:focus {
  border-color: var(--border-color-focus);
  transition: border-color .2s ease;
}
.write-form-title {
  margin: 0 0 35px 0;
  font-size: 45px;
  grid-column: 1/-1;
}

.write-textarea-title {
  margin: 35px 0 0 0;
  grid-column: 1/-1;
}

.write-form textarea {
  grid-column: 1/-1;
  margin-bottom: 45px;
}

.button-write {
  width: 260px;
}

/*! copyright */
.copyright-wrapper {
  margin: 0 auto;
  min-height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright-list {
  display: flex;
}

.copyright-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.copyright-item a {
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  background-color: var(--icon-bg-color);
  justify-content: center;
  border-radius: 50%;
}
.copyright-item a:hover,
.copyright-item a:focus {
  background-color: var(--button-red--hover);
  transition: background .2s ease;
}
.copyright-item a:active {
  background-color: var(--button-red--active);
  transition: background .2s ease;
}
.copyright-item a:active img {
  opacity: .3;
  transition: opacity .2s ease;
}
.copyright-title {
  margin: 0 0 10px 0;
  width: 660px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.copyright-txt {
  color: var(--txt-gray);
  line-height: 22px;
  font-weight: 400;
}

/* !Catalog.html */
.header-title-wrapper {
  width: 730px;
  margin: 0 auto;
}

.header-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
}
.sort-header-list {
  padding: 55px 0 0 0;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.sort-header-item {
  display: flex;
  align-items: center;
}
.sort-header-item:last-child {
  justify-content: space-between;
  width: 360px;
}

.sort-title {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 0px 0;
}

.sort-button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.price-range-wrapper {
  color: var(--txt-darkgray);
}

.assort-title {
  width: 400px;
}

.sort-result-wrapper {
  display: flex;
}
/*! Блок фильтра стоимости */
.sort-wrapper {
  width: 260px;
  margin-right: 140px;
}

.sort-form fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}
/*!range*/
.range-filter {
  width: 260px;
  margin-top: 49px;
}
.range-controls {
  position: relative;
  border-radius: 5px;
  height: 80px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--header-bg-color);
  margin-bottom: 15px;
  padding-top: 39px;
}
.range-controls .scale {
  height: 2px;
  background-color: #D7DCDF;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00CA74;
}
.range-controls .toggle {
  cursor: pointer;
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.15);
}
.range-controls .toggle-min {
  left: auto;
}
.range-controls .toggle-max {
  right: 70px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}
.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  background-color: var(--header-bg-color);
  color: #283136;
  text-align: center;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  width: 400px;
  margin-bottom: 10px;
}

.features-checkbox-list,
.net-radio-list {
  margin-bottom: 45px;
}
.net-radio-item,
.features-checkbox-item {
  color: var(--txt-darkgray);
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.net-radio-item label:focus,
.net-radio-item label:hover,
.features-checkbox-item label:focus,
.features-checkbox-item label:hover {
  cursor: pointer;
}
.net-radio-item label {
  padding-left: 35px;
  position: relative;
}
.net-radio-item label::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  border: 3px solid var(--border-color-label);
  border-radius: 50%;
  top: -6px;
  left: 0px;
}
.net-radio-item input:checked + label::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background: var(--border-color-label);
  border-radius: 50%;
  top: 5px;
  left: 11px;
}
.features-checkbox-item label {
  padding-left: 35px;
  position: relative;
}
.features-checkbox-item label::before {
  position: absolute;
  content: '';
  width: 23px;
  height: 23px;
  top: -5px;
  left: 0px;
  border: 2px solid var(--border-color-label);
  border-radius: 4px;
}
.features-checkbox-item input:checked + label::after {
  position: absolute;
  content: '';
  background-image: url(../img/check-mark.svg);
  width: 21px;
  height: 17px;
  top: 0px;
  left: 4px;
}
.view-button {
  padding: 15px 80px;
}
/*! Резльтат фильтра*/
.result-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}
.result-item {
  margin-bottom: 70px;
  position: relative;
}
.result-item::before {
  position: absolute;
  content: '';
  top: -39px;
  left: 0px;
  background-image: url(../img/result-browser.svg);
  width: 360px;
  height: 40px;
}
.result-item:hover::before {
  cursor: pointer;
  position: absolute;
  content: '';
  top: -39px;
  left: 0px;
  background-image: url(../img/result-browser-hover.svg);
  width: 360px;
  height: 40px;
  transition: background-image .2s ease;
}
.result-item:nth-child(odd) {
  margin-right: 40px;
}
.result-info {
  display: none;
  transition: display .2s linear;
}
.result-item:hover .result-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--header-bg-color);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 360px;
  min-height: 230px;
  /* transition: display .2s linear; */
}
.result-info-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.result-info-title:hover,
.result-info-title:focus {
  color: var(--button-red);
  transition: color .2s ease;
}
.result-info-title:active {
  color: var(--txt-black);
  opacity: .3;
  transition: opacity .2s ease;
}
.result-info-text {
  width: 255px;
  font-size: 16px;
  text-align: center;
  color: var(--txt-map-gray);
  line-height: 18px;
  margin: 0px;
  margin-bottom: 32px;
}
.result-info-price {
  width: 200px;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 70px;
  border-radius: 3px;
  color: var(--txt-white);
  text-decoration: none;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 45px 0 0 0;
}

.header-logo {
  width: 160px;
  height: 65px;
}
.header-logo:hover,
.header-logo:focus {
  opacity: .7;
  transition: opacity .3s ease;
}
.header-logo:active {
  opacity: .3;
}
.nav-wrapper {
  width: 440px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  margin: 0 auto;
  display: flex;
  justify-content: center;

}
.nav-item--active {
  position: relative;
  cursor: default;
}
.nav-item--active::after {
  position: absolute;
  content: '';
  bottom: -13px;
  left: 0;
  background-color: var(--button-red);
  width: 100%;
  height: 2px;
}
.page-list {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.page-item {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.page-link {
  background-color: var(--button-gray);
  text-decoration: none;
  color: var(--txt-black);
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.page-link:hover:not(.page-link--active),
.page-link:focus:not(.page-link--active) {
  background-color: var(--button-gray--hover);
  transition: background .2s ease;
}
.page-link:active:not(.page-link--active) {
  opacity: .3;
  color: var(--txt-black);
  transition: color .2s ease;
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}
.page-link--active {
  background-color: var(--main-bg-color);
  border: 3px solid var(--button-gray);
  width: 44px;
  height: 44px;
}

.page-link--next {
  padding: 17px 75px;
  box-sizing: border-box;
  width: 260px;
  height: 50px;

}
